<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<Appenders>
		<RollingFile name="LogToFile"
			fileName="src/main/resources/app-info.html"
			filePattern="src/main/resources/app-info-%d{yyyy-MM-dd}.html">
			<HTMLLayout charset="UTF-8"
				title="Howtodoinjava Info Logs" locationInfo="true" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="error" additivity="false">
			<appender-ref ref="LogToFile" />
		</Root>
	</Loggers>
</Configuration>